.container {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.header {
    background-color: black;
    color: white;
    padding: 10px;
    align-items: center;
}

.icon {
    width: 50px;
    margin-right: 15px;
    margin-left: 20px;
}

.title {
    margin-top: 20px;
}

.content {
    background-color: rgb(18, 18, 19) ;
    width: 400px;
    height: 420px;
    border-radius: 15px;
    
}

.icon2 {
    width: 30px;
    margin-top: 50px;
}

.icon3 {
    width: 40px;
    margin-top: 50px;
}

.enter{
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 19);
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    width: 200px;
}

.verify{
    color: hsl(286, 53%, 41%);
}

.try{
    flex: 1;
}

.dummy{
    flex:2;
}

.enter2{
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 19);
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    margin-top: 10px;
    width: 400px;
    border-color: rgb(138, 143, 147);
}

.enter3{
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 19);
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    margin-top: 10px;
    width: 400px;
    border-color: rgb(138, 143, 147);
    height: 150px;
    vertical-align: top;
}

.submit{
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
    margin-left: 130px;
    margin-right: 130px;
    border-style: solid;
    border-color: rgb(58, 61, 62);
    padding: 0px;
    border-radius: 15px;
    font-weight: 500;
    color: rgb(177, 56, 151);
}
